<div class="user-form-container">
  <div class="register-form">
    <%= form_for(:session, :html => {class: "form-horizontal", role: "form"}, url: login_path) do |f| %>
      <div class="form-group">
        <%= f.label :email %>
        <%= f.email_field :email, class: "form-control", placeholder: "Email" %>
      </div>
    
      <div class="form-group">
        <%= f.label :password %>
        <%= f.password_field :password, class: "form-control", placeholder: "Password" %>
      </div>
    
      <p>
        <%= f.submit "Login", class: "btn btn-primary btn-lg"  %>
      </p>
    <% end %>
  </div>
</div>  